<div class="module module-light module-highlight-1 module-colour-<%= (publication.slug.length % 12) + 1 %> module-event <%= "module-image-fullbleed" if publication.details.module_image %>">
	<a href="<%= case_studies_article_path(publication.slug) %>" target="_top">
		<%= render :partial => "module/module_image", :locals => { publication: publication } %>
		<div class="text">
			<h1 class="module-heading"><%= publication.title %></h1>
			<p class="category"><%= publication.format.gsub('_',' ') %></p>
		</div>
	</a>
</div>
