<div class="module module-light module-highlight-1 module-colour-<%= (publication.slug.length % 12) + 1 %> <%= "module-image-fullbleed" if publication.details.module_image %>">
	<a href="<%= send("#{section}_article_path", publication.slug) %>" target="_top">
		<%= render :partial => "module/module_image", :locals => { publication: publication } %>
		<div class="text">
			<h1 class="module-heading"><%= publication.title %></h1>
		  <p class="module-subheading"><%= publication.details.artist.name %></p>
			<p class="category">Culture</p>
		</div>
	</a>
</div>
