<%= form_tag newsletters_path, method: :post do %>
  <%= hidden_field_tag :id, newsletter.id  %>
  <div class="form-group">
    <%= label_tag :email, "Email address" %>
    <%= email_field_tag :email, newsletter.email, class: "form-control", required: true %>
  </div>
  <div class="form-group">
    <%= label_tag :first_name, "First Name" %>
    <%= text_field_tag :first_name, newsletter.first_name, class: "form-control", required: true  %>
  </div>
  <div class="form-group">
    <%= label_tag :last_name, "Last Name" %>
    <%= text_field_tag :last_name, newsletter.last_name, class: "form-control", required: true  %>
  </div>
  <div class="form-group">
    <%= button_tag "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
