<div class='open-data-node'>
  <style>@import url(http://<%= request.host_with_port %><%= asset_path 'badge.css' %>);</style>
  <%= link_to image_tag("http://#{request.host_with_port}#{image_path 'node-80px.png'}"), @publication.web_url %>
  <ul class='open-data-node-details'>
    <li><span><%= @publication.title  %></span></li>
    <li><span><%= @publication.region %></span></li>
    <li><span><%= @publication.level  %></span></li>
    <li><span><%= @publication.status %></span></li>
  </ul>
</div>
