<!-- BEGIN OPEN DATA NODE BADGE -->
<div class='open-data-node'>
  <%= stylesheet_link_tag "badge.css" %>
  <%= link_to image_tag("node-80px.png"), @publication.web_url %>
  <ul class='open-data-node-details'>
    <li class="open-data-node-title"><%= @publication.title  %></li>
    <li class="open-data-node-level"><span><%= t(@publication.level) %> node <%= "(beta)" if @publication.beta %></span></li>
    <li class="open-data-node-status"><span>active</span></li>
    <li class="open-data-node-status"><span>joined <%= Date.parse(@publication.created).strftime("%e %b %Y") %></span></li>
  </ul>
</div>
<!-- END OPEN DATA NODE BADGE -->
