<% content_for :title, @title %>
<div class="listing">
  <% date = DateTime.parse(@artefact.details.date) %>
  <div class="module module-light module-highlight module-colour-<%= (@artefact.slug.length % 12) + 1 %>">
  	<a href="<%= course_instance_path(@course.slug, @artefact.details.date[0..9]) %>" target="_top">
  		<h1 class="module-heading"><%= @course.title %><br /><%= date.strftime("%A %d %B %Y") %></h1>
  		<p class="category"><%= @title %></p>
  	</a>
  </div>
</div>