<% content_for :title, @title %>
<div class="module module-light module-colour-<%= (@section.length % 12) + 1 %>">
	<h1 class="module-heading">
		<a href="<%= send("#{@section}_article_path", @artefacts[0].slug) %>" target="_top">
			<%= @artefacts[0].title %>
		</a>
	</h1>
	<p class="category">
		<a href="/<%= @section %>" target="_top">
			<%= @section %>
		</a>
	</p>
</div>
