<% if @section['description'].present? %>
  <% if @section['title'] != 'Index' %>
    <% meta :og => { :description => @section['description'] } %>
  <% end %>
<% end %>

<% content_for :title, @title %>

<% content_for :hero do %>
<section class="article-hero<%= ' within-header' unless @title %>">
  <%= render :partial => "section/hero", :locals => { :hero_image => @section['hero'], :hero_text => @section['description'], :hero_link => @section['link'], :hero_alt => @section['description'] } %>
</section>
<% end %>

<div class="article-main">
  <article class="article-body">
    <p>The ODI was co-founded in 2012 by the inventor of the web Sir Tim Berners-Lee and AI expert Sir Nigel Shadbolt to address today’s global challenges using the web of data.</p>
    <p>We’re an independent, non-profit, non-partisan company that, since our creation, has welcomed high profile board members including Lastminute.com founder Baroness Martha Lane Fox and former European Commissioner Neelie Kroes.</p>
    <p>Headquartered in London, with an international reach, hundreds of members, thousands of people trained, dozens of startups incubated, and a convening space based in the heart of London’s thriving Shoreditch area, we invite everyone interested in developing with data – whether on an individual, organisational or global level – to get in touch.</p>
    <b>
    </b>
    <p></p>
    <h2>What we do</h2>
    <p>We bring together commercial and non-commercial organisations and governments  around specific sectors to address today’s global challenges.</p>
    <p>Driven by needs, and focused on timely challenges, we help people identify and address how the web of data will impact their businesses and their sectors. Together, we will build a strong data infrastructure that delivers open innovation at web-scale.</p>
    <p>We connect, equip and inspire people around the world to innovate with data by:</p>
    <ul>
      <li>
        <a href="#leadership">Providing leadership and helping to develop strategy</a>
      </li>
      <li>
        <a href="#research">Researching and innovating</a>
      </li>
      <li>
        <a href="#policy">Developing language and shaping policy</a>
      </li>
      <li>
        <a href="#training">Giving training</a>
      </li>
      <li>
        <a href="#startups">Supporting and encouraging startups</a>
      </li>
      <li>
        <a href="#global">Creating global networks</a>
      </li>
      <li>
        <a href="#business">Bringing the voice of business to UK government</a>
      </li>
    </ul>
    <iframe src="//www.slideshare.net/slideshow/embed_code/key/q9viFUlTdYGVtW" width="690" height="427" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
    <hr>
    <h3>
      <a name="leadership">We provide leadership and help develop strategy</a>
    </h3>
    <p>We inspire culture change in organisations and entire sectors by co-developing a clear strategic vision and focusing on timely, scalable and relevant issues – from banks to government, transport to agriculture.</p>
    <p>We convene diverse expert steering boards to govern, scope, direct, set targets for and manage the performance of programmes.</p>
    <p>Some examples of this include:</p>
    <ul>
      <li>Working with <strong>Thomson Reuters</strong> to create a collaborative information platform to improve client relationships, data quality and uptake on products.</li>
      <li>Creating an ecosystem of innovators by opening <strong>Arup’s</strong> supply-chain, saving the organisation time and money.</li>
      <li>Collaborating with <strong>Syngenta</strong> to increase their transparency and achieving a more open and collaborative approach to the way they operate.</li>
    </ul>
    <img src="http://bd7a65e2cb448908f934-86a50c88e47af9e1fb58ce0672b5a500.r32.cf3.rackcdn.com/uploads/assets/84/b8/5784b8391f986a363500001b/24609965943_d6f81c531c_o.jpg" alt="Open Data Leaders Network cohort">
    <h3>
      <a name="research">We research user-needs and business models</a>
    </h3>
    <p>Working closely with stakeholders, we research the needs for different users, including sectors, businesses, markets, citizens and society. We then develop and deploy open standards, licensing, data processing tools and technology processes and techniques to meet these needs.</p>
    <p>Our analysis identifies the economic evidence and business cases, combined with social and environmental impacts.</p>
    <h3>
      <a name="policy">We help develop language and shape policy</a>
    </h3>
    <p>Our team of policy specialists define and debate issues around privacy, licensing, liability, risk and compliance, and related challenges regarding data infrastructure, data ethics, data equality and the web of data.</p>
    <p>We also act as a platform for others’ views. You can view our lunchtime lectures on our YouTube channel.</p>
    <h3>
      <a name="training">We train people to work with data
      </a>
    </h3>
    <p>We equip people to innovate with data by offering public or bespoke data literacy courses and online learning for data leaders, managers and users.</p>
    <img src="http://bd7a65e2cb448908f934-86a50c88e47af9e1fb58ce0672b5a500.r32.cf3.rackcdn.com/uploads/assets/84/b8/5784b8371f986a3635000019/22801700476_ddebf55532_o.jpg" alt="Open Data training">
    <h3>
      <a name="startups">We accelerate data-driven startups</a>
    </h3>
    <p>We offer a startup programme to create new jobs, products and businesses and to drive investment and partnerships in data.</p>
    <h3>
      <a name="global">We are a global network</a>
    </h3>
    <p>We connect people through compelling events, media and membership to discuss or work through organisational, local or global challenges with data.</p>
    <p>Our Global Data Leader Networks, which bring together data professionals from around the world, are already making an impact at scale.</p>
    <h3>
      <a name="business">We bring the voice of business to UK government </a>
    </h3>
    <p>In November 2015, Minister for the Cabinet Office Matt Hancock called on the ODI to bring the voice of data businesses and innovators to the Cabinet Office and promote data <a href="http://theodi.org/blog/odi-welcomes-new-role-with-cabinet-office" alt="ODI's role with the Cabinet Office">innovation across government</a>.</p>
    <img src="http://bd7a65e2cb448908f934-86a50c88e47af9e1fb58ce0672b5a500.r32.cf3.rackcdn.com/uploads/assets/84/b8/5784b8361f986a3635000017/22719758266_c3dce6dd33_k.jpg" alt="Matthew Hancock">
    <hr>
    <h2>Get in touch</h2>
    <p>If you’d like to discuss how we could work with you to help your business, organisation or sector to tackle challenges with data, please get in touch - <a href="mailto:bizdev@theodi.org" >bizdev@theodi.org</a>. </p>
    <p>Or call us on <b><a href="tel://00442035989395">00 44 (0)20 3598 9395</a></b></p>
  </article>
</div>
<aside class="article-sidebar listing">
  <div>
    <h3>Sign up to discover data's use and impacts around the world</h3>
    <!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
  	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
  	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
  	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <div id="mc_embed_signup">
    <form action="//theodi.us6.list-manage.com/subscribe/post?u=84bd941af2f1389b9b88c66bb&amp;id=3391a19d97" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
      <div style="text-align:left;" id="mc_embed_signup_scroll">
  	     <input style="width:auto; height:40px; font-size:18px; margin-bottom:10px;" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required="">
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input style="height:40px;" type="text" name="b_84bd941af2f1389b9b88c66bb_3391a19d97" tabindex="-1" value=""></div>
        <div class="clear"><input style="background:#178cff; height: 40px; width:auto; font-size:18px;" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
    </form>
  </div>
  <!--End mc_embed_signup-->
  </div>
    <div class="module module-light module-colour-<%= rand(1..12).to_i %>">
      <a href="http://dashboards.theodi.org/company/all" alt="Company Dashboard" target="_blank">
        <h3 class="module-heading">Company dashboard</h3>
        <h1 class="module-subheading">Keep an eye on our main goals</h1>
      </a>
  </div>
  <div class="module module-light module-colour-<%= rand(1..12).to_i %>">
    <a href="http://theodi.org/team" alt="Our team">
      <h3 class="module-heading">Our team</h3>
      <h1 class="module-subheading">Meet the people behind the ODI</h1>
    </a>
  </div>
  <div class="module module-light module-colour-<%= rand(1..12).to_i %>">
    <a href="http://theodi.org/jobs" alt="ODI Jobs">
      <h3 class="module-heading">Jobs</h3>
      <h1 class="module-subheading">Discover opportunities with us</h1>
    </a>
  </div>
  <div class="module module-light module-colour-<%= rand(1..12).to_i %>">
    <a href="http://theodi.org/brand" alt="ODI Brand">
      <h3 class="module-heading">ODI brand</h3>
      <h1 class="module-subheading">Download ODI brand assets</h1>
    </a>
  </div>
</aside>
<!--
<aside class="article-sidebar listing">

<ul class="grid effect-2" id="grid2">

    <% @section['modules'].each do |m| %>

    <li class="home-module">
      <% if m['type'] == "Frame" %>
        <iframe seamless scrolling='no' src="<%= m['frame'] %>/module"></iframe>
      <% elsif m['type'] == "Image" %>
        <div class="module module-light module-colour- module-image-fullbleed">
          <div class="image">
            <a href="<%= m['link'] %>">
              <%= image_tag m['image'], :alt => m['title'] %>
            </a>
          </div>
        </div>
      <% else %>
        <div class="module module-light module-colour-<%= m['colour'] %>">
            <a href="<%= m['link'] %>">
                <% if m['title'] && m['type'] == "Text" %>
                  <h1 class="module-heading"><%= m['title'] %></h1>
                <% end %>
                <% if m['text'] && m['type'] == "Text" %>
                  <p class="module-subheading"><%= m['text'] %></p>
                <% end %>
            </a>
        </div>
      <% end %>

    </li>

    <% end %>
  </ul>

</aside>

-->
