<% if @section['description'].present? %>
  <% if @section['title'] != 'Index' %>
    <% meta :og => { :description => @section['description'] } %>
  <% end %>
<% end %>

<% content_for :title, @title %>

<% content_for :hero do %>
<section class="article-hero<%= ' within-header' unless @title %>">
  <%= render :partial => "section/hero", :locals => { :hero_image => @section['hero'], :hero_text => @section['description'], :hero_link => @section['link'], :hero_alt => @section['description'] } %>
</section>
<% end %>

<div class="article-full">
  <article class="article-body">
    <p>The Open Data Institute has a network of members, collaborators, governments and critical friends around the world who are helping to achieve our mission to equip, connect and inspire people to innovate with data. </p>
  </article>
</div>

<ul class="grid effect-2" id="grid2">

    <% @section['modules'].each do |m| %>

    <li class="home-module">
      <% if m['type'] == "Frame" %>
        <iframe seamless scrolling='no' src="<%= m['frame'] %>/module"></iframe>
      <% elsif m['type'] == "Image" %>
        <div class="module module-light module-colour- module-image-fullbleed">
          <div class="image">
            <a href="<%= m['link'] %>">
              <%= image_tag m['image'], :alt => m['title'] %>
            </a>
          </div>
        </div>
      <% else %>
        <div class="module module-light module-colour-<%= m['colour'] %>">
            <a href="<%= m['link'] %>">
                <% if m['title'] && m['type'] == "Text" %>
                  <h1 class="module-heading"><%= m['title'] %></h1>
                <% end %>
                <% if m['text'] && m['type'] == "Text" %>
                  <p class="module-subheading"><%= m['text'] %></p>
                <% end %>
            </a>
        </div>
      <% end %>

    </li>

    <% end %>
  </ul>
