<% content_for :title, @section['title'] %>

<% content_for :hero do %>
<section class="article-hero<%= ' within-header' unless @section['title'] %>">
  <%= render :partial => "section/hero", :locals => { :hero_image => @section['hero_image'], :hero_text => @section['hero_text'] } %>
</section>
<% end %>

<ul class="grid effect-2" id="grid2">

    <% @section['links'].each do |link| %>

    <li class="home-module">
      <% if link['frame'] %>
        <iframe seamless scrolling='no' src="<%= link['frame'] %>"></iframe>
      <% elsif link['background_image'] %>
        <div class="module module-light module-image-background module-colour-<%= link['colour'] %>" style="background-image: url(<%= link['background_image'] %>)">
            <a href="<%= link['link'] %>">
                <% if link['title'] %>
                  <h1 class="module-heading"><%= link['title'] %></h1>
                <% end %>
                <% if link['text'] %>
                  <p class="module-subheading"><%= link['text'] %></p>
                <% end %>
            </a>
        </div>
      <% else %>
        <div class="module module-light module-colour-<%= link['colour'] %><%= ' module-image-foreground' if link['image'] && link['title'] %><%= ' module-image-fullbleed' if link['image'] && !link['title'] %>">
            <a href="<%= link['link'] %>">
                <% if link['image'] %>
                  <div class="image">
                    <img src="<%= link['image'] %>">
                  </div>
                <% end %>
                <% if link['title'] %>
                  <h1 class="module-heading"><%= link['title'] %></h1>
                <% end %>
                <% if link['text'] %>
                  <p class="module-subheading"><%= link['text'] %></p>
                <% end %>
            </a>
        </div>
      <% end %>

    </li>
    
    <% end %>
  </ul>


<%= render :partial => "list/masonry" %>
