<% content_for :title, [@publication.honorific_prefix, @publication.title, @publication.honorific_suffix].join(" ") %>

<div class='row-fluid'>
	<div class='span8'>
	  
	  <h2><%= @publication.subtitle %></h2>
	  
	  <%= attachment @publication.image, :class => 'leader-image'%>
	  
	  <div class="well">
	    <%= @publication.description %>
	  </div>
	  
	  <p><strong>Affiliation:</strong> <%= @publication.affiliation %></p>
	  <p><strong>Role:</strong> <%= @publication.role %></p>
	  <p><strong>Telephone:</strong> <%= @publication.telephone %></p>
	  <p><strong>Email:</strong> <%= mail_to @publication.email, @publication.email %></p>
	  <p><strong>Twitter:</strong> <%= link_to "@" + @publication.twitter, "http://www.twitter.com/#{@publication.twitter}" %></p>
	  <p><strong>LinkedIn:</strong> <%= link_to @publication.linkedin, @publication.linkedin %></p>
	  <p><strong>Github:</strong> <%= link_to @publication.github, @publication.github %></p>

	  
	</div>
</div>