<li class="home-module">
  <div class="module module-light module-highlight-1 module-colour-<%= (session[:slug].length % 12) + 1 %>">
    <a href="<%= send("summit_session_#{@year}_article_path", session[:slug]) %>" target="_top">
      <div class="text">
        <h1 class="module-heading"><%= session[:title] %></h1>
        <p><%= session_time(session[:start_date]) %> - <%= session_time(session[:end_date]) %></p>
        <p class="category"><%= session[:location] %></p>
      </div>
    </a>
  </div>
</li>
