<% content_for :title, @title %>

<% content_for :hero do %>
	<% if @hero_image %>
		<section class="article-hero">
			<%= render :partial => "section/hero", :locals => { :hero_image => "whatshappening_hero.jpg", :hero_text => nil, :hero_link => nil, :hero_alt => "What's happening?" } %>
		</section>
	<% end %>
<% end %>

 <div>
    <div class="article-full">
      <article class="article-body">
        <% unless @publication.nil? %>
          <%= @publication.content.html_safe %>
        <% end %>
			<article>
		</div>
</div>
<div>
	<div class="article-main">
		<article class="article-body">

<% if @featured.length > 0 %>
	<h2>Featured</h2>

	<div class="row effect-2 listing" id="featured-events">
		<% @featured.each do |artefact| %>
			<div class="col-xs-12">
				<%= module_block @section, artefact %>
			</div>
		<% end %>
	</div>

	<h2>All Events</h2>
<% end %>

<div class="row effect-2 listing" id="all-events">
	<% @artefacts.each do |artefact| %>
		<div class="col-xs-12">
			<%= module_block @section, artefact %>
		</div>
	<% end %>
</div>
      </article>
    </div>
    <% unless @publication.nil? %>
      <aside class="article-sidebar listing">
	      <% @publication.related_links.each do |link| %>
	        <div class="module module-light module-colour-<%= rand(1..12).to_i %>">
	      		<a href="<%= link[:url] %>">
	      			<h1 class="module-heading"><%= link[:title] %></h1>
	      		</a>
	      	</div>
	      <% end %>
        <!-- <%= render 'content/related' %> -->
      </aside>
    <% end %>
  </div>

<%= render :partial => "list/background_check" %>
