<% content_for :title, @title %>
<% content_for :page_title_extra do %>
  <p class="header-right">Filter by team:
    <%= select_tag("team-filter", options_for_select(@team_options)) %>
  </p>
<% end %>
<div class="people-team">

  <ul class="grid effect-2" id="grid-people">
    <div class="grid-sizer"></div>
    <% @people.each_with_index do |person, idx| %>
    <li class="home-module" data-index="<%= idx %>">
        <div class="module module-light module-colour-8">
            <a href="<%= person.link %>">
                <%= image_tag person.picture, width: "238", alt: person.title %>
                <h1 class="module-heading"><%= person.title %></h1>
                <p class="module-subheading"><%= person.details.role %></p>
                <p class="category" data-teams="<%= person.teams.keys.join(' ') %>"><%= person.teams.values.join(' & ') %></p>
            </a>
        </div>
    </li>
    <% end %>
  </ul>

</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#team-filter").change(function() {
      // Retrieve the filter value and reset the count to zero
      var filter_string = $(this).val();
      var target = $("#grid-people .home-module");
      if (filter_string === "-ALL-TEAMS-") {
        target.show();
      } else {
        // Select items to hide with a filter
        var outGroup = target.filter(function() {
          return $(this).find(".category").attr('data-teams')
            .search(new RegExp('\\b' + filter_string + '\\b')) < 0;
        });
        // Select everything else...
        var inGroup = target.not(outGroup);
        outGroup.hide();
        inGroup.show();
      }
      $("#grid-people").masonry({
        itemSelector: '.home-module',
        columnWidth: '.grid-sizer'
      }).masonry();
      window.dispatchEvent(new Event('scroll'));
    });
  });
</script>
