<% content_for :title, @title %>
<div class="people-team">

  <ul class="grid effect-2" id="grid-people">
	<% @teams.each do |k,team| %>
	  <% team[:people].each do |person| %>
	  <li class="home-module">
        <div class="module module-light module-colour-<%= team[:colour] %>">
            <a href="<%= team_article_path(person.slug) %>">
                <%= image_tag person.details.square, width: "238", alt: person.title %>
                <h1 class="module-heading"><%= person.title %></h1>
                <p class="module-subheading"><%= person.details.role %></p>
                <p class="category">
                  <% tags = person.tag_ids.keep_if { |tag| @teams[tag.to_sym] } %>
                  <% tags.each_index do |i| %>
                    <% tag = tags[i].to_sym %>
                    <%= @teams[tag][:name] %>
                    <%= ' & ' if i < tags.length - 1 %>
                  <% end %>
                </p>
            </a>
        </div>
    </li>
    <% end %>
	<% end %>
	</ul>

</div>
