<div class="tag-results">

<span class="result-count"><%= pluralize(@artefacts.count, 'result') %> found</span>

<% if @artefacts.empty? %>
  <div class="no-result well">
    We couldn't find anything for that tag.
  </div>
<% end %>

<ul class="result-list">
  <% @artefacts.each do |artefact| %>
    <li>
    <article class="tag-result">
      <h2><%= link_to(artefact.title, artefact.web_url ) %></h2>
      <p class="description">
      <%= truncate(Nokogiri::HTML(artefact.details.description).inner_text, length: 200, separator: ' ') %>
      </p>
      <%= link_to("Read more >", artefact.web_url) %>
      <%= render :partial => "content/tags", locals: {tags: artefact.tags }  %>
    </article>
    </li>
  <% end %>
</ul>
</div>
