<% content_for :title, "News" %>

<div class="article-main">
    <article class="article-body">
      <h2><%= @publication.title %></h2>
      <div class="article-meta">
          <span class="date"><%= @publication.created %></span> by
          <%= author(@publication) %>
      </div>
      
      <%= @publication.content.html_safe %>
      
    </article>
    
    <h3>Comments</h3>
    
    <%= juvia_comments @publication.slug %>
  
</div>

<aside class="article-sidebar">

    <iframe seamless scrolling='no' src="/blog/module"></iframe>

    <iframe seamless scrolling='no' src="/news/module"></iframe>

</aside>