<% content_for :title do %>
  <a href="<%= courses_section_path %>">Courses</a>
<% end %>

<div class="article-main">
	<article class="article-body">
		<%= render :partial => 'content/course', :locals => { :course => @publication, :title => @publication.title } %>
	</article>
</div>

<aside class="course-sidebar">
  <h3>Upcoming dates</h3>

	<% @instances.each do |instance| %>
		<% date = DateTime.parse(instance.details.date) %>
		<div class="module module-light module-colour-<%= date.day % 12 + 1 %>">
			<a href="<%= course_instance_path(@publication.slug, instance.details.date[0..9]) %>">
				<h3 class="module-heading"><%= date.strftime("%A %d %B %Y") %></h3>
        <p><%= instance.details.location %></p>
				<p class="category">Course</p>
			</a>
		</div>
	<% end %>

	<% if @instances.count == 0 %>
	  <p>Sorry, there are no upcoming dates for this course at the moment.</p>
	<% end %>
</aside>
