<% content_for :title do %>
  <% if @publication.end_date.to_datetime >= DateTime.now %>
    <a href="<%= events_section_path %>">Events</a>
  <% else %>
    <a href="<%= events_section_path %>">Previous Events</a>
  <% end %>
<% end %>

<div class ="article-full">
	<article class="article-body">
	  <h2><%= @publication.title %></h2>
	  <h3><%= date_range DateTime.parse(@publication.start_date), DateTime.parse(@publication.end_date) %></h3>
	  
	  <p><%= @publication.location %></p>
	  <%= @publication.description.html_safe %>
	  
	   <% if @publication.end_date.to_date > DateTime.now %>
	    <p><%= link_to "More information and to book your place", @publication.booking_url if @publication.booking_url %></p>
	    <% end %>
	</article>
</div>