<% content_for :title do %>
  <% if @publication.end_date.to_datetime >= DateTime.now %>
    <a href="<%= events_section_path %>">Events</a>
  <% else %>
    <a href="<%= events_section_path %>">Previous Events</a>
  <% end %>
<% end %>

<div class="article-full">
<!-- <div class="<%= upcoming_event? ? 'article-main' : 'article-full' %>"> -->
	<article class="article-body">
    <%= render :partial => 'content/event', :locals => { :publication => @publication } %>
	</article>
</div>

<!--
<% if upcoming_event? %>
  <aside class="article-sidebar">
    <h3>Live stream</h3>
    <p>Begins at <%= DateTime.parse(@publication.start_date).strftime("%A %d %B %Y at %l:%M%P") %></p>
    <iframe src="http://mixlr.com/ukodi/embed" width="100%" height="180px" scrolling="no" frameborder="no" marginheight="0" marginwidth="0"></iframe>
  </div>
<% end %>
-->