<% content_for :title do %>
  <a href="<%= nodes_section_path %>">Nodes</a>
<% end %>

<div class ="article-main">
	<article class="article-body">
	  <h2><%= @publication.title %> <%= "(beta)" if @publication.beta %></h2>
    
    <p>
      <%= [@publication.area, @publication.region].join(', ') %>
    </p>  
    
    <p>
      <%= "Joined: " + Date.parse(@publication.join_date).strftime("%e %B %Y") rescue nil %>
    </p>
    
    <div>
	    <%= @publication.description.html_safe %>
    </div>
    
    <h3>Get in Touch:</h3>
    
    <ul>
    <%= content_tag :li, "Phone Number: #{@publication.telephone}" if @publication.telephone.present? %>
    <%= content_tag :li, "Email Address: ".html_safe+mail_to(@publication.email) if @publication.email.present? %>
    <%= content_tag :li, "Twitter: ".html_safe+link_to("@".html_safe+@publication.twitter, "http://twitter.com/"+@publication.twitter) if @publication.twitter.present? %>
    <%= content_tag :li, "Linkedin: ".html_safe+link_to(@publication.linkedin, @publication.linkedin) if @publication.linkedin.present? %>
    </ul>
    
	</article>
</div>