<% article_meta @publication %>

<% content_for :title do %>
  <a href="<%= start_ups_section_path %>">Startups</a>
<% end %>

<div class="article-main">
  <article class="article-body">
    <h2><%= @publication.title %></h2>

    <%= image_tag(@publication.logo['web_url'], :class => 'node-logo') unless @publication.logo.nil? %>

    <% unless @publication.tagline.blank? %>
      <p class='lead'><%= @publication.tagline %></p>
    <% end %>

    <ul class='list-unstyled'>
    <% if @publication.details['graduated'].blank? %>
      <li class='start_up current'><i class='fa fa-shield'></i> <%= link_to "Current", start_ups_current_section_path %></li>
    <% else %>
      <li class='start_up graduated'><i class='fa fa-shield'></i> <%= link_to "Graduated", start_ups_graduated_section_path %></li>
    <% end %>

    <% unless @publication.url.blank? %>
      <li><i class='fa fa-globe'></i> <%= link_to @publication.url, @publication.url %></li>
    <% end %>

    <% unless @publication.email.blank? %>
      <li><i class='fa fa-envelope'></i> <%= mail_to @publication.email %></li>
    <% end %>

    <% unless @publication.twitter.blank? %>
      <li><i class='fa fa-twitter'></i> <%= link_to '@'+@publication.twitter, "http://twitter.com/#{@publication.twitter}" %></li>
    <% end %>

    <% unless @publication.linkedin.blank? %>
      <li><i class='fa fa-linkedin'></i> <%= link_to @publication.linkedin, @publication.linkedin %></li>
    <% end %>

    <% unless @publication.telephone.blank? %>
      <li><i class='fa fa-phone'></i> <%= @publication.telephone %></li>
    <% end %>
    </ul>

    <%= @publication.description.html_safe %>

    <% unless @publication.joined_at.blank? %>
      <p>Joined on: <%= Date.parse(@publication.joined_at).to_formatted_s(:long) %></p>
    <% end %>

  </article>

  <% unless @news_artefacts.total == 0 %>
    <h3>News</h3>

  	<ul class="grid effect-2 listing" id="grid2">
  		<% @news_artefacts.each do |artefact| %>
  			<%= render :partial => "list/block", :locals => { :artefact => artefact } %>
  		<% end %>
  	</ul>

  <% end %>

</div>

<aside class="article-sidebar listing">
  <%= render 'content/related' %>
</aside>
