<% content_for :title do %>
  <a href="<%= start_ups_section_path %>">Startups</a>
<% end %>

<div class="article-full">
  <article class="article-body">
    <h2><%= @publication.title %></h2>
    <%= @publication.description.html_safe %>
  </article>
</div>

<% unless @news_artefacts.empty? %>
  <h3>News</h3>
  
	<ul class="grid effect-2 listing" id="grid2">
		<% @news_artefacts.each do |artefact| %>
			<%= render :partial => "list/block", :locals => { :artefact => artefact } %>
		<% end %>
	</div>

	<%= render :partial => "list/masonry" %>
<% end %>

