<% content_for :title do %>
  <a href="<%= team_section_path %>">Team</a>
<% end %>

<div class="article-main">
  <article class="people-body">
    <h2><%= [@publication.honorific_prefix, @publication.title, @publication.honorific_suffix].join(" ") %></h2>
	  <h3><%= @publication.role %></h3>
    <%= @publication.description.html_safe %>
  </article>
</div>

<aside class="article-sidebar">
    <div class="module module-image-fullbleed">
	    <%= image_tag @publication.square_image || 'person-placeholder.png', alt: @publication.title %>
      <div id="social">
        <%= content_tag(:a ,fa_icon("linkedin-square 2x"), :href => @publication.linkedin, :title => "LinkedIn") unless @publication.linkedin.blank? %>
        <%= content_tag(:a , fa_icon("github 2x"), :href => @publication.github, :title => "Github") unless @publication.github.blank? %>
        <%= content_tag(:a ,fa_icon("twitter 2x"), :href => "http://www.twitter.com/#{@publication.twitter}", :title => "Twitter") unless @publication.twitter.blank? %>
      </div>
    </div>
</aside>

<% unless @news_artefacts.empty? %>
  <h3>News</h3>

	<ul class="grid effect-2 listing" id="grid2">
		<% @news_artefacts.each do |artefact| %>
			<%= render :partial => "list/block", :locals => { :artefact => artefact } %>
		<% end %>
	</div>

<% end %>
