<head>
  <%= metamagic :title => page_title,
    :og => {
      :title => page_title,
      :url => canonical_url,
      :description => "The Open Data Institute catalyses open data culture to create economic, environmental & social value. It helps unlock supply, generates demand & shares knowledge to address local and global issues.",
      :image => "#{Plek.current.find("static")}/assets/about_hero.jpg",
      :type => "website",
      :site_name => "Open Data Institute"
    },
    :twitter => {
      :card => "summary_large_image",
      :site => "@ODIHQ"
    }
  %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= alternate_auto_discovery_link_tags %>
</head>

<body>

  <div id='wrapper'>
    <% if content_for?(:title) %>
      <header class="page-title">
          <div class="container header-wrap">
              <h1><%= yield :title %></h1>
              <% if content_for?(:page_title_extra) %>
                  <%= yield :page_title_extra %>
              <% end %>
          </div>
      </header>
    <% end %>

    <%= yield :hero %>

    <div class="container">
        <div class="row">
          <%= yield %>
        </div>
    </div>

  </div>

  <%= yield :extra_javascript %>

</body>
