<head>
  <title>Open Data Institute <%= strip_tags('| ' + yield(:title)).strip if yield(:title).present? %><%= " | " + yield(:page_title) if content_for?(:page_title) %></title>
  <%= alternate_auto_discovery_link_tags %>
</head>

<body>

  <div id='wrapper'>
    <% if content_for?(:title) %>
      <header class="page-title">
          <div class="container">
              <h1><%= yield :title %></h1>
          </div>
      </header>
    <% end %>

    <%= yield :hero %>

    <div class="container">
        <div class="row">
          <%= yield %>
        </div>
    </div>

  </div>

  <%= yield :extra_javascript %>

</body>
