<head>
  <title><%= page_title %></title>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= alternate_auto_discovery_link_tags %>
</head>

<body>

  <div id='wrapper'>
    <% if content_for?(:title) %>
      <header class="page-title">
          <div class="container">
              <h1><%= yield :title %></h1>
          </div>
      </header>
    <% end %>

    <%= yield :hero %>

    <div class="container">
        <div class="row">
          <%= yield %>
        </div>
    </div>

  </div>

  <%= yield :extra_javascript %>

</body>
